* {
  margin: 0;
  font-family: "Rubik", Helvetica, sans-serif;
}
body {
  background: rgb(219, 219, 219);
}

header {
  background-color: rgb(171, 171, 171);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

#header-img {
  width: 50px;
}

footer {
  background-color: rgb(171, 171, 171);
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  gap: 2rem;
  padding: 1rem;
}

.container {
  width: 300px;
  height: 400px;
  background-color: gold;
  border: 2px solid rgb(149, 126, 0);
  border-radius: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 25px;
  transition: 250ms;
  box-shadow: 0 2px 5px rgba(11, 0, 0, 0.5);
}

.legendary {
  background: linear-gradient(45deg, rgb(28, 69, 255), rgb(255, 151, 169));
}

.epic {
  background: linear-gradient(45deg, gold, rgb(255, 242, 167));
}

.rare {
  background-color: rgb(224, 191, 0);
}

.common {
  background-color: silver;
}

.container:hover {
  transform: scale(1.1);
}

.name-rating {
  display: flex;
  justify-content: space-between;
}

.pictures {
  display: flex;
  margin: auto;

  gap: 10px;
}

.team-country {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.player-img {
  width: 200px;
}

.club-img,
.nation-img {
  width: 50px;
}

.position-c {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.captain {
  color: gold;
  background-color: black;
  padding: 0 5px;
}

.content {
  display: flex;
  overflow-x: scroll;
  align-items: center;
  margin: 50px 0;
  padding-bottom: 5px;
  scrollbar-width: thin;   
  scrollbar-color: rgba(0,0,0,.35) transparent;
}